<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<cagartner>
			<generation_migration>
				<output_path>/var/migration</output_path>
			</generation_migration>
		</cagartner>
	</default>
</config>
